@import url('student_dashboard.css');



/* TITLE */

.title{

margin-top:20px;

margin-bottom:20px;

display:flex;

justify-content:space-between;

align-items:center;

font-weight:600;

}



.see-all{

color:#6c63ff;

font-size:14px;

cursor:pointer;

transition:0.2s;

}

.see-all:hover{

text-decoration:underline;

}



/* GRID */

.courses-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

margin-bottom:30px;

}



/* CARD */

.course-card{

background:#243665;

color:white;

padding:22px;

border-radius:18px;

position:relative;

min-height:135px;

box-shadow:0 10px 22px rgba(0,0,0,0.12);

transition:.25s;

overflow:hidden;

}



.course-card:hover{

transform:translateY(-6px);

box-shadow:0 16px 30px rgba(0,0,0,0.18);

}



/* 🔥 FIX TEXT COLOR */

.course-card h3{

font-size:17px;

font-weight:600;

margin-bottom:18px;

color:white;              /* أهم تعديل */

}



/* 🔥 لو العنوان جوه <a> */

.course-card a{

color:white;

text-decoration:none;

display:inline-block;

transition:0.2s;

}



.course-card a:hover{

color:#8fa2ff;

}



/* BUTTON */

.course-card button{

background:#0f2a44;

color:white;

border:none;

padding:8px 18px;

border-radius:22px;

cursor:pointer;

font-size:13px;

transition:0.25s;

}



.course-card button:hover{

background:#6c63ff;

transform:scale(1.05);

}



/* ICON */

.course-card img{

position:absolute;

right:18px;

bottom:18px;

width:60px;

opacity:0.95;

transition:0.3s;

}



.course-card:hover img{

transform:scale(1.1);

}



/* INSTRUCTORS */

.section-title{

margin-top:20px;

margin-bottom:10px;

font-weight:600;

}



.instructors{

display:flex;

gap:12px;

margin-bottom:30px;

}



.instructors img{

width:55px;

height:55px;

border-radius:50%;

border:3px solid #6c63ff;

transition:0.25s;

}



.instructors img:hover{

transform:scale(1.1);

}



/* NOTICE */

.notice{

margin-top:10px;

}



.notice h3{

display:flex;

justify-content:space-between;

margin-bottom:15px;

font-weight:600;

}



.notice-box{

background:white;

padding:18px;

border-radius:16px;

margin-bottom:15px;

box-shadow:0 6px 14px rgba(0,0,0,0.05);

transition:0.25s;

}



.notice-box:hover{

transform:translateY(-3px);

box-shadow:0 10px 20px rgba(0,0,0,0.08);

}



.notice-box h4{

margin-bottom:6px;

}



.notice-box p{

font-size:14px;

color:#666;

margin-bottom:6px;

}



.notice-box a{

color:#6c63ff;

font-size:13px;

cursor:pointer;

text-decoration:none;

}



.notice-box a:hover{

text-decoration:underline;

}



/* SEARCH BAR */

.topbar input{

width:340px;

padding:12px 18px;

border-radius:25px;

border:none;

background:#e9e9e9;

font-family:'Poppins';

outline:none;

transition:0.2s;

}



.topbar input:focus{

background:#dddddd;

}



/* RESPONSIVE */

@media (max-width: 900px){

.courses-grid{

grid-template-columns:1fr;

}

}