* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* Layout */
body {
    background: #f4f6fb;
}

.dashboard {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: 100vh;
    background: white;
    padding: 25px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.05);
}

.logo {
    margin-bottom: 30px;
    color: #6c5ce7;
}

.menu {
    list-style: none;
}

.menu li {
    margin-bottom: 15px;
}

.menu a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    border-radius: 8px;
    transition: 0.3s;
}

.menu li.active a {
    background: #6c5ce7;
    color: white;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;   /* يوسّط أفقي */
    align-items: center;       /* يوسّط رأسي */
    min-height: 100vh;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 15px;
    padding: 30px;
    width: 950px;   /* عرض مظبوط */
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

/* Title */
.title {
    margin-bottom: 20px;
    color: #2c3e50;
}

/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    background: #eef1f7;
    padding: 12px;
    text-align: left;
}

.table td {
    padding: 12px;
}

/* Hover effect */
.clickable {
    cursor: pointer;
    transition: 0.2s;
}

.clickable:hover {
    background: #f1f3ff;
}

/* Grades */
.grade-a {
    color: green;
    font-weight: bold;
}

.grade-aplus {
    color: blue;
    font-weight: bold;
}

.grade-b {
    color: orange;
    font-weight: bold;
}

/* GPA */
.gpa {
    margin-top: 20px;
    background: #2c3e50;
    color: white;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}