<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<title>Create Password</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
rel="stylesheet">

<link rel="stylesheet"
href="{{ url_for('static', filename='reset_password.css') }}">

</head>



<body>

<div class="box">

<!-- LOGO -->

<div class="logo">

<img src="{{ url_for('static',
filename='lshrk-01.max-500x500.png') }}">

</div>



<h2>Forgot Password</h2>

<p class="subtitle">
Create your new password
</p>



<!-- INNER BOX -->

<div class="form-box">

<h3>Find Your Account</h3>

<div class="line"></div>



<form method="POST"
action="{{ url_for('reset_password') }}">


<input
type="password"
name="password"
placeholder="New Password"
required>



<input
type="password"
name="confirm_password"
placeholder="Confirm Password"
required>



<div class="btn-area">

<button
type="submit"
class="next-btn">

Next

</button>

</div>

</form>

</div>

</div>

</body>

</html>